<div class="profile">
  <div class="row">
    <h1><%= @user.full_name %></h1>
  </div>

  <div class="row">
    <div class="pull-left">
      <%= image_tag(@user.profile_image, class: 'profile-image img-circle') %>
    </div>
    <div class="pull-left profile-data">
      <div><%= @user.position_level %> | <%= @user.email %></div>
      <br />
      <div>Location: <%= @user.location %></div>
      <div>Personnel Manager: <%= @user.personnel_manager.full_name if @user.personnel_manager %></div>
    </div>
  </div>

  <div class="row">
    <h2>Practices</h2>
  </div>

  <div class="row">
    <ul>
      <% @user.practices.each do |practice| %>
        <li>
          <i class="mdi mdi-<%= practice.icon %> mdi-24px" title="<%= practice.name %>"></i>
          <%= practice.name %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <h2>Videos</h2>
  </div>
</div>
