<ol class="breadcrumb"><%= render_breadcrumbs tag: :li, separator: '' %></ol>

<div>
  <span><%= @video.name %></span>
  <span class="pull-right">
    <%= @video.presenter %> |
    <%= @video.practice.name %>
  </span>
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="<%= @video.embedded_link %>" allowfullscreen></iframe>
</div>
