<table id="practices-table" class="table table-striped table-bordered" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th>Practice Lead</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% practices.each do |practice| %>
    <tr class="<%= 'warning' unless practice.active %>">
      <td><%= practice.name %></td>
      <td><i class="mdi mdi-<%= practice.icon %> mdi-24px"></i></td>
      <td><%= practice.practice_lead_name %></td>
      <td>
        <% if current_user.can_manage_practice?(practice.id) %>
          <%= link_to admin_practice_memberships_path(practice),
            class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-cog"></span> Members
          <% end %>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to edit_admin_practice_path(practice), remote: true,
            class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to admin_practice_delete_path(practice), remote: true,
            class: 'btn btn-danger btn-sm' do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
  $(document).ready(function() {
     $('#practices-table').DataTable({
       retrieve: true,
       iDisplayLength: 50,
       columns: [
         { type: "string" },
         { type: "string" },
         { type: "string" },
         { orderable: false }
       ]
    });
  });
</script>
