<%= form_for [:admin, user], remote: true, html: { style: 'display:inline;' } do |f| %>
  <div class="modal-body">
    <div class="errors"></div>
    <div class="form-group">
      <%= f.label :name, class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, class: 'control-label' %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :position_id, class: 'control-label' %>
      <%= f.collection_select(:position_id, Position.all, :id, :name, class: 'form-control') %>
    </div>
    <div class="form-group">
      <%= f.label :personnel_manager_id, class: 'control-label' %>
      <%= f.collection_select(:personnel_manager_id, User.all, :id, :name, class: 'form-control') %>
    </div>
    <div class="form-group">
      <%= f.label :employee_type, class: 'control-label' %>
      <% options = [['Regular', 'Regular'], ['Contractor', 'Contractor']] %>
      <%= f.select :employee_type, options, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :location, class: 'control-label' %>
      <%= f.text_field :location, class: 'form-control' %>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', '#', class: 'btn', data: { dismiss: 'modal' } %>
  </div>
<% end %>
