<%= form_for [:admin, user], remote: true, html: { style: 'display:inline;' } do |f| %>
  <div class="modal-body">
    <div class="errors"></div>
    <div class="form-group">
      <%= f.label :name, class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, class: 'control-label' %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, class: 'control-label' %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :position_id, class: 'control-label' %>
      <%= f.collection_select(:position_id, Position.all, :id, :name, class: 'form-control') %>
    </div>
    <div class="form-group">
      <%= f.label :level, class: 'control-label' %>
      <% level_options = ['1', '1.5', '2', '2.5', '3', '3.5', '4', '4.5', '5'] %>
      <%= f.select :level, level_options, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :personnel_manager_id, class: 'control-label' %>
      <%= f.collection_select(:personnel_manager_id,
        personnel_managers, :id, :full_name, include_blank: true, class: 'form-control') %>
    </div>
    <div class="form-group">
      <%= f.label :employee_type, class: 'control-label' %>
      <% emplyee_type_options = [['Regular', 'Regular'], ['Contractor', 'Contractor']] %>
      <%= f.select :employee_type, emplyee_type_options, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :location, class: 'control-label' %>
      <%= f.text_field :location, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :active, class: 'control-label' %>
      <%= f.check_box :active, class: 'form-control' %>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', '#', class: 'btn', data: { dismiss: 'modal' } %>
  </div>
<% end %>
