<h1>
  <i class="mdi mdi-<%= @practice.icon %> mdi-36px" title="<%= @practice.name %>"></i>
  <%= @practice.name %>
</h1>

<div class="practice">
  <div><%= @practice.description %></div>

  <h2>Lead</h2>
  <div class="row">
    <div class="col-md-12">
      <% if @practice.practice_lead %>
        <%= link_to directory_profile_path(@practice.practice_lead) do %>
          <%= render 'member', user: @practice.practice_lead %>
        <% end %>
      <% else %>
        Not assigned yet
      <% end %>
    </div>
  </div>

  <h2>Members <span class="badge"><%= @practice.members.size %></span></h2>
  <div class="row">
    <% @practice.members.each do |member| %>
      <div class="col-md-3 col-sm-4">
        <%= link_to directory_profile_path(member) do %>
          <%= render 'member', user: member %>
        <% end %>
      </div>
    <% end %>
  </div>

  <h2>Videos</h2>
  <div class="row">
  </div>

</div>
