<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:page_title) ? (yield :page_title) : 'RAILS-GAP' %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield(:engine_css) %>
  <%= yield(:engine_js) %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navbar' %>
<%= yield %>
<%= render 'shared/footer' %>

</body>
</html>
